@charset "UTF-8";
@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Archivo+Black|Kosugi|Kosugi+Maru|Russo+One&subset=japanese');

html, body, .form-area {
  width: 100%;
  height: 100%;
}
html {
  margin: 0;
  padding: 0;
}
/*///////////ヘッダーロゴレスポンシブサイズ指定ここから/////////////*/
@media only screen and (max-width: 959px) {
.logo, span {
font-size: 90%;
padding-left: 20px;
}
}
/*///////////ヘッダーロゴレスポンシブサイズ指定ここまで/////////////*/
/*///////////ナビゲーションここから/////////////////////////////////////////////////*/
* {
    line-height: 1.4em!important;
    font-family:"Kosugi","Russo+One&subset=japanese";
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  &:before, &:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
}

body {
  background-color: #eee;
  text-transform: uppercase;
  font-size: 16px;
  color: #fff;
}
#top{
  position:fixed;
  width: 100%;
  z-index: 100;
  #header {
  background: #009dbf;
  width: 100%;
  position: relative;
  &:after {
    content: "";
    clear: both;
    display: block;
  }
  .nav_content {
  width: 1100px;
  margin: 0 auto 0 auto;
  a {
  text-decoration: none;
  color: #fff;
}
.logo {
  float: left;
  padding: 26px 0 26px;
  span {
    display:block;
    padding-left: 10px;
  }
  a {
    font-size: 28px;
    display: block;
    padding: 0 0 0 10px;
  }
}/////*.logo*//////

nav {
  float: right;
   ul {
    float: left;
    position: relative;
     &:hover ul {
      display: inline;
    }
  li {
    list-style: none;
    float: left;
   // &:hover {display:inline;}
      a {
      float: left;
      padding: 35px;
      &:hover {
      background: #00d2fc;
      color: #9d59b6;
      }
    }/////*a*//////
  }/////*li*//////
  }/////*ul*//////
li a {
    float: none;
    color: #fff;
    display: block;
    padding: 8px 10px;
    border-radius: 3px;
    font-size: 13px;
 &:hover {
      background: #bdc3c7;
      background: #FAFBFB;
    }
  }
   .current{
    background: #fdd800;
    color: #00d2fc;
}
}/////*nav*//////
}/////*.nav_content*//////
}/////*#header*//////
.form-area{
input {
  border: none;
  padding: 10px;
}
}
}/////*#topここまで*//////

#menu-icon {/////*ハンバーガーアイコン*//////
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -12px;
  margin-right: 30px;
  display: none;
  span {
    border: 2px solid #fff;
    width: 30px;
    margin-bottom: 5px;
    display: block;
    -webkit-transition: all .2s;
    transition: all .1s;
  }
}/////*ハンバーガーアイコンここまで*//////

@media only screen and (max-width: 1170px) {
nav ul li a {padding: 35px 15px;}
}
@media only screen and (min-width: 960px) {
  nav {display: block !important;}
}
@media only screen and (max-width: 959px) {
nav {
    display: none;
     float: none;
    width: 100%;
    clear: both;
    max-height: 400px;
    overflow-y: scroll;
    padding: 10px;
   ul {
      display: block;
      position: static;
      background: none;
      border: none;
      padding: 0;
   li {
      float: none!important;

    a {
      float: none!important;
      padding: 14px!important;
      display: block!important;
      color: #fff;
      width: 350px;
      &:hover {
        background-color: #fdd800!important;
        color: #009dbf!important;
        border-radius: 3px!important;
    }
    &:before {
      content: "- ";
    }
    }
  }
  }
  }
  #menu-icon {
    display: inline;
    top: 45px;
    cursor: pointer;
    &.active {
      .first {
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        margin-top: 10px;
      }
      .second {
        transform: rotate(135deg);
        -webkit-transform: rotate(135deg);
        position: relative;
        top: -9px;
      }
      .third {
        display: none;
      }
    }
  }
}
/*///////////ナビゲーションここまで/////////////////////////////////////////////////*/

/*///////////検索フォームここから/////////////////////////////////////////////////*/

.form-area {
  background-color: #009dbf;
  width: 100%;
  height: 65px;
  display:flex;
  justify-content: center;
  #form1 {
  position: relative;/*フォームの相対位置*/
  width: 500px;/*フォームのサイズ*/
  height: 100%;
  margin-bottom: 0;/*フォームの下に余白*/
  margin: 0 auto;
}
}
@media screen and (max-width: 768px) {
.form-area {
width: 100%;
justify-content: left;
padding-left: 10px;
}
}
/*検索ボックス*/
#search_box {
  position: absolute;/*フォームの絶対位置*/
  left: 0;
  top: 0;
  outline: 0;/*クリック時の青い枠線消す*/
  width: 400px;
  height: 50px;/*検索ボックスの高さ*/
  padding: 0 10px;/*テキスト位置調整*/
  border-radius: 20px 0 0 20px;/*検索ボックスの角を丸める*/
  background: #fff;/*検索ボックスの背景カラー*/
}
@media screen and (max-width: 768px) {
#search_box {
  width: 55%;
  height: 40px;
}
}

/*検索ボタン*/
#sbtn {
  width: 70px;/*検索ボタンの横幅*/
  height: 50px;/*検索ボタンの縦幅*/
  position: absolute;/*検索ボタンの絶対位置*/
  left: 400px;/*検索ボタンの位置調整*/
  top: 0;
  border-radius: 0 20px 20px 0;/*検索ボタンの角を丸める*/
  background: #ddd;/*検索ボタンの背景カラー*/
  border: none;/*検索ボタンの枠線を消す*/
  color: #fff;/*検索ボタンのテキストカラー*/
  font-weight: bold;/*検索ボタンのテキスト太字*/
  font-size: 16px;/*検索ボタンのフォントサイズ*/
  &:hover {
    color: #00d2fc;/*検索ボタンマウスオーバー時のフォントカラー*/
    background-color: #fdd800;
  }
}
@media screen and (max-width: 768px) {
#sbtn {
left:55%;
width: 50px;
height: 40px;
&:hover {
  background-color: #fdd800;
}
}
}
/*検索ボタンマウスオーバー時*/
/*///////////検索フォームここまで////////////////////////////*/
/*///////////フッターここから////////////////////////////*/
footer {
  background-color: #009dbf;
  width: 100%;
  height: 320px;
  bottom: 0;
  .container {
    padding-top: 20px;
    text-align: center;
  .ft-nav {
    padding: 10px;
  ul{
display:block;
  li {
    list-style-type: none;
    margin: 5px;
  a {
    color: #fff;
    text-decoration: none;
    &:hover{
      color: #fdd800;
    }
  }
}
}
}
  .sns {
    padding-top: 15px;
    width: 100%;
    text-align: center;
    a span i {
      color: #fff;
      &:hover {
        color: #fdd800;
      }
    }
}
.padding {
      padding: 10px;
    }
  p{
    text-align: center;
  }
  }
}
/*///////////フッターここまで////////////////////////////*/
/*///////////スライドここから////////////////////////////*/
#home{
  main {
 .carousel-inner {
  padding-top: 190px;
    }
  .carousel-caption {
    .viewbtn{
    letter-spacing:0.4em;
    .btn {
     background-color: rgba(10, 180, 240, 0.5)!important;
    }
  }
    }
  }
}
@media screen and (max-width: 768px) {
  #home{
  .carousel-indicators {
    li {
      display:none;
    }
  }
  .carousel-item {
    img {
      height: 200%!important;
    }
  }
  .container {
    h1 {
      display: none!important;
    }
     p {
      display: none!important;
    }
  }
 }
}
/*///////////スライドここまで////////////////////////////*/
/*///////////メイン（サイトメッセージ）ここから///////////////////*/
#site_msg {
  padding: 15px 0 15px 0;
  display:block;
  max-width: 100%;
  height: auto;
  background-color: #666;
  text-align: center;
  h2 {
    font-size: 140%;
    color: #fff;
  }
@media screen and (max-width: 768px) {
h2 {
  font-size: 120%;
  text-align: left;
}
}
    h3 {
    font-size: 100%;
    color: #ddd;
  }
@media screen and (max-width: 768px) {
  h3 {
text-align: left;
  }
  }
}

/*///////////メイン（サイトメッセージ）ここまで///////////////*/
/*///////////メイン（トピックス）ここから///////////////*/
#home {
    .topix {
      .card-img-overlay {
        padding: 0;
      }
      h4{
         transform: translateY(280%) translateX(0%);
        color: #fff;
        letter-spacing:0.3em;
        background-color: rgba(0, 0, 0, 0.2);
      }
    }
}
/*//////////メイン（トピックス）ここまで///////////////*/

/*///////////topへ戻るボタンここから/////////////////////////////////////////////////*/
#page_top{
  width: 100px;
  height: 60px;
  position: fixed;
  right: 0;
  bottom: 0;
  background: #666666;
  opacity: 0.6;
}
#page_top a{
  position: relative;
  display: block;
  width: 100px;
  height: 60px;
  text-decoration: none;
}
#page_top a::before{
  font-family: FontAwesome;
  content: '\f102';
  font-size: 25px;
  color: #fff;
  position: absolute;
  width: 25px;
  height: 25px;
  top: -25px;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  text-align: center;
}
#page_top a::after{
  content: 'PAGE TOP';
  font-size: 13px;
  color: #fff;
  position: absolute;
  top: 30px;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  text-align: center;
}
/*///////////topへ戻るボタンここまで//////////////////*/


/*////////お問い合わせページcontact.htmlここから//////////*/
#level{/*//////パンくずリスト////////*/
  padding-top: 210px;
  ul {
    list-style-type: none;
    padding-left: 10px;
    li {
      display:block;
      position: relative;
      float:left;
    }
  }
}
#main {
margin: 0 auto 17px 0!important;
  padding: 15px 0 15px 20px;
  width: 100%;
  height: 100%;
  h1{
  margin: 0;
  padding: 0 0 30px 0;
  font-size: 200%;
  }
  @media screen and (max-width: 768px) {
    h1{
      padding-left: 0;
      font-size: 180%;
    }
  }
.notes {
  width: 100%;
  height: 100%;
  background-color: #333;
  color: #fff;
  padding-top: 10px;
  padding-left: 50px;
  border-radius: 3px;
}
@media screen and (max-width: 768px) {
  .notes {
    padding-left: 30px;
    font-size: 90%;
  }
}
  #contact-form {
  padding-top: 30px;
  width: 100%;
   p {
    width: 100%;
    display: block;
     margin: 0 auto 30px auto;
  }
  input[type="text"],input[type="tel"],input[type="email"],textarea {
  border:1px solid #666666;
  border-radius: 3px;
  }
  input[type="tel"] {width: 200px;}
  input[type="email"] {width: 300px;}
  textarea {width: 300px; height: 100px; overflow-y: scroll;}
  }
}
#q-aside {
  .q1-btn1,.q2-btn1,.q3-btn1,.q4-btn1,.q5-btn1,.q6-btn1,.q7-btn1,.q8-btn1{
    h2 {
      cursor: pointer;
      cursor: hand;
      color: #00a1e9;
      font-size: 16px;
      font-weight:bold;
      &:hover{
        color: #DB5C35;
      }
   }
 }
 .q1-btn2,.q2-btn2,.q3-btn2,.q4-btn2,.q5-btn2,.q6-btn2,.q7-btn2,.q8-btn2 {
    p {
      cursor: pointer;
      cursor: hand;
      color: #DB5C35;
      font-weight:bold;
    }
   }
.q1-contents,.q2-contents,.q3-contents,.q4-contents,.q5-contents,.q6-contents,.q7-contents,.q8-contents {
    p {
      color: #666;
    }
   }
}
.jumbotron-contact {
 margin-top: 30px;
  height: 100px;
  background-image: url(../images/contact-01.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% auto;
}
@media screen and (max-width: 768px) {
  .jumbotron-contact {
    background-size: 100% auto;
   h1{
    font-size: 180%;
  }
  }
}
/*////////お問い合わせページcontact.htmlここまで//////////*/
/*////////ストア概要ページabout.htmlここから//////////*/
#about {
  .carousel-inner {
  padding-top: 0;
}

 @media screen and (max-width: 768px) {
#about h1{
  padding-bottom: 10px;
  font-size: 120%;
 }
}
}
/*////////ストア概要ページabout.htmlここまで//////////*/
/*////////写真ページphoto.htmlここから//////////*/
#photo {
div.col-md-4{
      margin-top: 0!important;
      height: 150px;
      }
.blog-post.anchor{/*////photo.htmlページ内リンクジャンプ位置調整///*/
    display: block;
    padding-top: 194px;
    margin-top: -194px;
    &:first-child {
      margin-top: 0;
      padding-top: 0;
    }
}
background: #F1F1F1;
  article p{
    color: #9c9c9c;
    padding-top: 20px;
    margin-bottom: 0;
    text-align: center;
  }
  @media screen and (max-width: 768px) {
    article p {
      font-size: 85%;
      text-align: left
    }
  }
  #main  {
    padding-bottom: 0;
    h1.text-center {
      padding-bottom: 0;
      }
    }


  @media screen and (max-width: 768px) {
    .row {
   padding-top: 10px;
    }
  }
  .jumbotron-photo {
    position: relative;
    z-index:20;
    padding-top: 0;
    height: 50px;
    background-color: #ffffff;
    nav a:hover {
      text-decoration: none;
      color: #fdd800!important;
    }
  }

  aside {
    width: 100%;
    display:-webkit-flex;
    display: flex;
    .side-content {
    display:block;
    width: 100%;
    .side {
       position: sticky;
       margin-bottom: 0;
       top: 200px;
       z-index: 1;
    }
    }
    a{
      text-decoration: none;
      color: #666;
      &:hover{
        color: #fdd800;
      }
    }
  }
  h2 {
    font-size: 140%;
    border-bottom: 2px solid #666;
    margin-top: 40px;
    margin-bottom: 5px;
  }
  @media screen and (max-width: 768px) {
    h2{
      padding-top: 70px;
      margin-bottom: 0;
    }
  }

section.tab {
  background: #F1F1F1;
}

article {
  padding: 10px 0 20px;
}

.tabs {
 div {
    /*border-top: 1px solid #c7c7c7*/
    margin-top: 10px;
    background: white !important;
    /*border-bottom: 4px solid #E95855 !important;*/
    span {
      border-bottom: 4px solid #E5E5E5 !important;
      color: #ccc !important;
      font-weight: 300;
      line-height: 186px !important;
      display: block;
      text-align: center;
      font-size: 24px;
    }
  }
  ul.horizontal {
    list-style: none outside none;
    margin-bottom: 20px;

  li {
    background: white;
    border-bottom: 4px solid #E5E5E5;
    margin: 0 10px 0 0;
    display: inline-block;
     &:hover {
    background: #a0cac0;
    border-bottom: 4px solid #68a697;
  }
  a {
    color: #ccc;
    display: block;
    font-size: 18px;
    font-weight: 300;
    padding: 20px 20px;
    text-decoration: none;
    &:hover {
      color: white;
    }
    }
  }
.active {
  background: #a0cac0 !important;
  border-bottom: 4px solid #68a697 !important;
  A {
    color: white !important;
  }
}
}
}

}
/*////////写真ページphoto.htmlここまで//////////*/
/*////////写真ページ＞作品情報photoProdact.htmlここから//////////*/
#photoProdact {
  .card-body{
    h2{
      font-size: 130%;
    }
  }
  dt {
    float:left;
  }
  dd{
    margin-left:150px;
  }
.p-4 {
      padding: 0!important;
      h4{
        text-align: center;
        padding: 20px 0;
      }
table {
  width: 100%;
  border-collapse: collapse;
  font-size: 14px;
  tr {
    border-color: #666;
    border-style:solid;
    border-width: 1px 0;
    &:nth-child(even) td {background-color: #ddd;}
    td {
      padding:10px 0;
      // text-align: center;
       &:nth-child(2),&:nth-child(3){
      text-align: center;
    }
    &:nth-child(4) {
      width: 170px;
    }
   .size,span {
    padding:0;
    font-size: 18px;
    }
    }
}
}
}
.text {display: none;}
.text01,.text02,.text03,.text04 {display: block;}
.button {/*////////カートに入れるボタン//////////*/
  margin: 20px auto 30px 25px;
  display: inline-block;
  width: 260px;
  border-radius : 3%;          /* 角丸       */
  font-size     : 14pt;        /* 文字サイズ */
  text-align    : center;      /* 文字位置   */
  cursor        : pointer;     /* カーソル   */
  padding       : 10px 10px;   /* 余白       */
  background    : #009dbf;     /* 背景色     */
  color         : #ffffff;     /* 文字色     */
  line-height   : 1em;         /* 1行の高さ  */
  transition    : .3s;         /* なめらか変化 */
  box-shadow    : 6px 6px 3px #666666;  /* 影の設定 */
  border        : 1px solid #009dbf;    /* 枠の指定 */
}
.button:hover {
  box-shadow    : none;        /* カーソル時の影消去 */
  color         : #000066;     /* 背景色     */
  background    : #ffffff;     /* 文字色     */
}
}
/*////////写真ページ＞作品情報photoProdact.htmlここまで//////////*/
/*////////ご利用規約ページpolicy.htmlここから//////////*/
#policy{
.jumbotron-extend {
  margin-top: 30px;
  height: 100px;
  background-image: url(../images/policy-001.jpg);
  background-position: center right;
  background-repeat: no-repeat;
  background-size: 100% auto;
}
.blog-main{
  padding-left: 0;
  margin-left: 20px;
 ol li{
  margin-left: 30px;
 }
}

@media screen and (max-width: 768px) {
  .jumbotron-extend {
    background-size: 100% auto;
   h1{
    font-size: 180%;
  }
  }
}
}



/*////////ご利用規約policy.htmlここまで//////////*/
/*////////404ページ404.htmlここから//////////*/
#notfoundpage {
  h1 {
    padding-top: 15px;
    font-size: 150%;
  }
}
/*////////404ページ404.htmlここまで//////////*/
